// vim: set filetype=css:
@title_height:      4ex;
@title_colour:      rgba(255,176,60,0.9);       /* #FFB03C */
@content_width:     120em;
@background_colour: #DDD;
@border_colour:     #777;
@incident_colour:   #F30606;
@problem_colour:    #4100FF;
@service_req_colour:#9010FE;
@enhance_req_colour:#32A338;
@change_ordr_colour:#12C3D8;
@question_colour:   #DBBC1C;
@note_border:       2px inset @border_colour;
@odd_background:    #FFFCED;
@even_background:   #FFFFFF;
@col_width_a:       10em;
@col_width_b:       8em;

*                       { font-family:      "Trebuchet MS", Helvetica, sans-serif;
                          font-size:        8pt;                                    }

body                    { background-color: @background_colour;
                          margin:           0;                                      }


fieldset                { display:          inline-block;
                          float:            left;
                          margin:           0 1em 1ex 3em;
                          background-color: #F8F8F8;                                }
legend                  { font-variant:     small-caps;
                          color:            #666;                                   }

select, textarea, input { border:           none;
                          vertical-align:   text-top;                               }
textarea                { min-width:        @content_width - 2*@col_width_a - @col_width_b;
                          min-height:       8ex;
                                                                                    }

table                   { border-collapse:  collapse;                               }
th, td                  { padding:          0;
                          vertical-align:   top;                                    }
th                      { text-align:       left;                                   }

h2                      { font-size:        90%;                                    }
a                       { text-decoration:  none;                                   }

#messages             {   position:         fixed;
                          top:              @title_height;
                          left:             0;
 >div                   { border:           1px solid @border_colour;
                          border-radius:    1ex;
                          margin:           0.5ex 0.5em;
                          padding:          1ex;                                    }
 .warning               { background-color: orange;                                 }
 .error                 { background-color: red;                                    }   }
#title                {   background-color: @title_colour;
                          margin:           0 0 -@title_height 0;
                          height:           @title_height;
                          position:         fixed;
                          top:              0;
                          width:            100%;
  select                { font-size:        140%;
                          font-weight:      bold;
                          text-transform:   capitalize;
                          background-color: rgba(0,0,0,0);
                          margin:           0 auto;
                          display:          block;
                          width:            27em;                                   }   }

#count                  { background-color: antiquewhite;
                          color:            green;
                          position:         fixed;
                          top:              0.5ex;
                          padding:          0.4ex 0.4em;
                          margin-left:      -5em;
                          height:           2.3ex;
                          border-radius:    1ex;                                    }

#refresh            {     position:         fixed;
                          top:              0.2ex;
                          margin-left:      1em;
  :hover                { cursor:           pointer;                                }   }

#content                { background-color: #FFF;
                          border-left:      1px solid @border_colour;
                          border-right:     1px solid @border_colour;
                          width:            @content_width;
                          min-height:       60ex;
                          margin:           0 auto;
                          padding:          @title_height + 1 0;                    }

#controls               { margin:           0 -1em 0 -2em;                          }
#presets input          { min-width:        12em;                                   }
#sort               {
  a                     { display:          inline-block;
                          width:            4.5em;                                  }
  label                 { padding-right:    0.5em;
                          text-align:       right;
                          width:            4em;
                          display:          inline-block;                           }   }
#select textarea        { min-width:        @content_width - 33;                    }
#select.error           { border-color:     red;                                    }
#selector-function *    { font-size:        80%;                                    }
#query-error *          { font-size:        90%;
                          color:            #A00;                                   }

#ticket-list>tbody>tr   { border-top:       1px solid @background_colour;           }

.ticket             {     width:            @content_width;
                          margin:           0;
  tbody                 { border-left:      0.5em outset rgba(0,0,0,0);             }
  tbody.Incident        { border-left-color:@incident_colour;                       }
  tbody.Problem         { border-left-color:@problem_colour;                        }
  tbody.Service-Request { border-left-color:@service_req_colour;                    }
  tbody.Enhancement-Request{border-left-color:@enhance_req_colour;                  }
  tbody.Change-Order    { border-left-color:@change_ordr_colour;                    }
  tbody.Question        { border-left-color:@question_colour;                       }
  th, td                { padding:          2px 4px;                                }
  .col-1, .col-2        { width:            @col_width_a;                           }
  .col-3                { width:            @col_width_b;                           }
  textarea              { background-color: rgba(255,255,255,0);                    }   }

.odd                    { background-color: @odd_background;                        }
.even                   { background-color: @even_background;                       }
.odd  .odd-2            { .even;                                                    }
.odd  .even-2           { .odd;                                                     }
.even .odd-2            { .odd;                                                     }
.even .even-2           { .even;                                                    }
.odd:hover              { background-color: @odd_background - #001007;              }
.even:hover             { background-color: @even_background - #001007;             }

.In-Progress .Status    { color:            #057405;                                }
.Open        .Status    { color:            #057405;                                }
.Incident         .Type { color:            @incident_colour;                       }
.Problem          .Type { color:            @problem_colour;                        }
.Service-Request  .Type { color:            @service_req_colour;                    }
.Enhancement-Request .Type{color:           @enhance_req_colour;                    }
.Change-Order     .Type { color:            @change_ordr_colour;                    }
.Question         .Type { color:            @question_colour;                       }
.Priority,
.Priority-Order,
.Relative-Priority      { display:          inline-block;                           }
.Relative-Priority      { font-weight:      bold;
                          color:            red;                                    }
.Description            { border:           @note_border;
                          padding:          0.5ex 0.5em;
                          background-color: #F2F0F9;                                }

.note-outer-container   { width:            0;                                      }
.note-inner-container   { min-width:        @content_width - @col_width_a - 0.5;
                          float:            left;                                   }
.note               {     border:           @note_border;
  >div                  { border-bottom:    1px dashed @border_colour;
                          padding:          0.5ex 0.5em;                            }
  .created_at           { font-weight:      bold;
                          float:            left;                                   }
  .user                 { color:            purple;
                          float:            right;                                  }
  .body                 { clear:            both;                                   }   }
div.hide-note           { height:           3ex;
                          margin:           -3.5ex 0 0 -@col_width_a + 0.75;        }

.sidebar-box            { background:       #FFF;
                          border:           1px solid @border_colour;
                          padding:          0.5ex;
                          border-radius:    1ex;                                    }
.sidebar-box-heading    { font-size:        90%;
                          color:            @border_colour;
                          font-weight:      bold;                                   }
#company-note       {     .sidebar-box;
                          position:         fixed;
                          right:            0;
                          margin:           0.3ex 1em;
 .collapse-button       { font-weight:      bolder;
                          width:            1em;
                          height:           1em;
                          border-radius:    0.5em;
                          float:            right;                                  }
 .collapse-button:hover { cursor:           pointer;
                          background-color: @title_colour;                          }
 .collapse-button>div   { width:            0;
                          height:           0;
                          position:         fixed;
                          top:              -0.15em;
                          left:             0.15em;                                 }
 .title                 { .sidebar-box-heading;                                     }
 .note-content          { overflow:         hidden;                                 }
 ul                     { padding-left:     2em;                                    }
 .collapse-button.rotate090>div
                        { left:             0.2em;                                  }   }
.info-box           {     float:            left;
                          width:            0;
                          height:           0;
                          margin:           0 -1em 0 0;
  >div                  { .sidebar-box;
                          margin:           0 0.25em 0 0;
                          max-width:        24em;
                          float:            right;
                          overflow:         hidden;                                }
  dl,dt,dd              { margin:           0;                                      }
  dt                    { .sidebar-box-heading;                                     }
  pre                   { margin:           0;                                      }   }
.right-icon             { float:            right;
                          margin:           -12px;
                          border-radius:    4px;                                    }
.right-icon:hover       { background-color: @title_colour;                          }

@show_transition:       all linear  0.5s;
@revolutions:           10000;
@rotating_transition:   all linear  2s * @revolutions;
#company-note *,
.animate-show           { -webkit-transition:@show_transition;
                          -moz-transition:  @show_transition;
                          -o-transition:    @show_transition;
                          transition:       @show_transition;
                          display:          block!important;                        }
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove
                        { opacity:          0;                                      }
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active
                        { opacity:          1;                                      }
.faded                  { opacity:          0;
                          transform:        translateY(-5ex);                       }
.visible                { opacity:          1;
                          transform:        translateY(0);                          }
.zero_height            { max-height:       0;                                      }
.full_height            { max-height:       500px;                                  }
.rotate270              { transform:        rotate(270deg);                         }
.rotate090              { transform:        rotate(90deg);                          }
.rotating               { -webkit-transition:@rotating_transition;
                          -moz-transition:  @rotating_transition;
                          -o-transition:    @rotating_transition;
                          transition:       @rotating_transition;
                          transform:        rotate(1turn * @revolutions);           }
