<!doctype html>
<html lang="en" ng-app="techOpsReviewTicketsApp" ng-controller="TechOpsReviewTicketsCtrl">
<head>
  <title>{{ company.short_name }} Tickets: {{ freshdesk_custom_ticket_view.name }}</title>
  <link rel='stylesheet' type='text/css' href='tech-ops-review-tickets.css'>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="bower_components/showdown/src/showdown.js"></script>
  <script type="text/javascript" src="bower_components/angular-markdown-directive/markdown.js"></script>
  <script type="text/javascript" src="selector.js"></script>
  <script type="text/javascript" src="tech-ops-review-tickets.js"></script>
</head>
<body>
  <div id="messages">
    <div ng-repeat="message in messages" class="{{ message.class }} animate-show" ng-show="message.show" ng-bind-html="message.text"></div>
  </div>
  <div id="title">
    <select ng-change="changeFreshdeskCustomTicketView()" ng-model="freshdesk_custom_ticket_view" ng-options="view as view.name for view in freshdesk_custom_ticket_views[company.short_name]"></select>
  </div>
  <div id="company-note">
    <div ng-class="{rotate270:!company.notes_collapsed,rotate090:company.notes_collapsed}" ng-click="company.notes_collapsed = !company.notes_collapsed" class="collapse-button"><div>&gt;</div></div>
    <div class="title">{{ company.name }}</div>
    <div ng-class="{full_height:!company.notes_collapsed,zero_height:company.notes_collapsed}" class="note-content"><div btf-markdown="company.note"></div></div>
    <div ng-class="{visible:!company.notes_collapsed,faded:company.notes_collapsed}" class="right-icon"><a href="http://support.clearpoint.co.nz/companies/{{ company.id }}" target="_blanK"><img src="images/edit-icon.png" /></a></div>
  </div>
  <div id="content">
    <div id="count">{{ filtered.length || 0 }}/{{ tickets.length }}</div>
    <div id="refresh" class="refresh" ng-class="{rotating:loading}"><img src="images/refresh-icon-blue.png" ng-click="refreshTickets()" onmouseover="this.src='images/refresh-icon-orange.png'" onmouseout="this.src='images/refresh-icon-blue.png'" /></div>
    <div id="controls">
      <fieldset id="quick-filter">
        <legend>quick filter</legend>
        <input name="quick-filter" ng-model="quick_filter" />
      </fieldset>
      <fieldset id="presets">
        <legend>presets</legend>
        <label for="presets">Choose a pre-saved view:</label>
        <select name="presets" ng-model="preset">
          <option ng-repeat="(k, v) in presets" value="{{ k }}">{{ k }}</option>
        </select>
      </fieldset>
      <fieldset id="select" ng-class="{error:query_error}">
        <legend ng-dblclick="show_selector_function = !show_selector_function">select</legend>
        <textarea ng-model="query_string"></textarea>
        <div id="selector-function" ng-show="show_selector_function">
          <pre ng-bind="selectorFunction.toString()"></pre>
        </div>
        <div id="query-error" ng-show="query_error">
          <pre ng-bind="query_error.toString()"></pre>
        </div>
      </fieldset>
      <fieldset id="sort">
        <legend>sort</legend>
        <div ng-repeat="n in [] | range:3" ng-init="name = 'sort-' + (n + 1)">
          <label for="{{ name }}">{{ n ? 'then' : 'Order' }} by</label>
          <select ng-model="order_by[n].field" ng-options="k as v.name for (k, v) in unique_fields">
            <option value=""></option>
          </select>
          <a href="" ng-click="order_by[n].ascending = !order_by[n].ascending">{{ order_by[n].ascending ? 'a' : 'de' }}scending</a>
        </div>
      </fieldset>
    </div><!-- end #controls -->
    <table id="ticket-list">
      <tbody>
        <tr id="ticket-{{ ticket.id }}"
          ng-repeat     = "ticket in filtered = (tickets | quickFilter:quick_filter:selectorFunction | orderByFields:order_by)"
          ng-init       = "url = 'http://support.clearpoint.co.nz/helpdesk/tickets/' + fields.ID.get(ticket)"
          ng-class      = "fields.Status.get(ticket) | classify"
          ng-class-odd  = "'odd'"
          ng-class-even = "'even'"
        >
          <td>
            <table class="ticket">
              <tbody ng-class="fields.Type.get(ticket) | classify">
                <tr>
                  <th class="col-1 ID"><a name="fields.ID.get(ticket)" href="{{ url }}" target="_blank">FD{{ fields.ID.get(ticket) }}</a></th>
                  <th class="Subject" colspan=3>
                    <a href="{{ url }}" target="_blank">{{ fields.Subject.get(ticket) }}</a>
                    <div class="Target-Environment"
                        ng-mouseenter="info_box[ticket.id].show=true; info_box[ticket.id].field='Target Environment'"
                        ng-mouseleave="info_box[ticket.id].show=false"
                    >{{ fields.TargetEnvironment.get(ticket) }}</div>
                    </div>
                  </th>
                </tr>
                <tr ng-mouseleave="info_box[ticket.id].show=false">
                  <div class="info-box animate-show" ng-show="info_box[ticket.id].show"><div><dl><dt>{{ info_box[ticket.id].field }}</dt><dd><pre>{{ fields[info_box[ticket.id].field].get(ticket) }}</pre></dd></dl></div></div>
                  <td class="col-1">
                    <div class="Status"
                        ng-mouseenter="info_box[ticket.id].show=true; info_box[ticket.id].field='Status'"
                        ng-mouseleave="info_box[ticket.id].show=false"
                    >{{ fields.Status.get(ticket) + (fields.InProgress.get(ticket) ? '*' : '') }}</div>
                    <div class="Type"
                        ng-mouseenter="info_box[ticket.id].show=true; info_box[ticket.id].field='Type'"
                        ng-mouseleave="info_box[ticket.id].show=false"
                    >{{ fields.Type.get(ticket) }}</div>
                    <div class="Creation-Date"
                        ng-mouseenter="info_box[ticket.id].show=true; info_box[ticket.id].field='Creation Date'"
                        ng-mouseleave="info_box[ticket.id].show=false"
                    >{{ fields.CreationDate.get(ticket) | date:'yyyy-MM-dd' }}
                  </td>
                  <td class="col-2">
                    <div class="Agent"
                        ng-mouseenter="info_box[ticket.id].show=true; info_box[ticket.id].field='Agent'"
                        ng-mouseleave="info_box[ticket.id].show=false"
                    >{{ fields.Agent.get(ticket) }}</div>
                    <div class="Owner"
                        ng-mouseenter="info_box[ticket.id].show=true; info_box[ticket.id].field='Owner'"
                        ng-mouseleave="info_box[ticket.id].show=false"
                    >{{ fields.Owner.get(ticket) }}</div>
                  </td>
                  <td class="col-3">
                    <div class="Priority"
                        ng-mouseenter="info_box[ticket.id].show=true; info_box[ticket.id].field='Priority'"
                        ng-mouseleave="info_box[ticket.id].show=false"
                    >{{ fields.Priority.get(ticket) }}</div>
                    <div class="Priority-Order"
                        ng-mouseenter="info_box[ticket.id].show=true; info_box[ticket.id].field='Priority Order'"
                        ng-mouseleave="info_box[ticket.id].show=false"
                    >{{ fields.PriorityOrder.get(ticket) }}</div>
                    <div class="Relative-Priority"
                        ng-mouseenter="info_box[ticket.id].show=true; info_box[ticket.id].field='Relative Priority'"
                        ng-mouseleave="info_box[ticket.id].show=false"
                    >{{ fields.RelativePriority.get(ticket) < 1000 ? fields.RelativePriority.get(ticket) : '' }}</div>
                    <div class="Due-Date"
                        ng-mouseenter="info_box[ticket.id].show=true; info_box[ticket.id].field='Due Date'"
                        ng-mouseleave="info_box[ticket.id].show=false"
                    >{{ fields.DueDate.get(ticket).length ? 'Due: ' + fields.DueDate.get(ticket) : '' }}</div>
                  </td>
                  <td class="col-4">
                    <textarea class="TechOpsMeetingNotes"
                        ng-mouseenter="info_box[ticket.id].show=true; info_box[ticket.id].field='Tech Ops Meeting Notes'"
                        ng-mouseleave="info_box[ticket.id].show=false"
                        ng-blur="saveTicketField(ticket,fields.TechOpsMeetingNotes,$event)"
                    >{{ fields.TechOpsMeetingNotes.get(ticket) }}</textarea>
                  </td>
                </tr>
                  <td class="col-1">
                    <a href="" ng-click="showHideNotes(ticket)">{{ ticket._show_notes ? '< Hide' : '> Show' }} notes</a>
                  </td>
                  <td class="col-2-4" colspan=3>
                    <div class="note-outer-container" ng-show="ticket._show_notes">
                    <div class="note-inner-container">
                      <div ng-hide="ticket._notes_retrieved">Retrieving notes ...</div>
                      <div
                        class         = "note"
                        ng-show       = "ticket._show_notes"
                        ng-repeat     = "note in ticket.notes | orderBy:'created_at':true"
                        ng-class-odd  = "'odd-2'"
                        ng-class-even = "'even-2'"
                      >
                        <div class="created_at">{{ note.created_at | date : "EEEE, d MMMM yyyy 'at' h:mm a" }}</div>
                        <div class="user">{{ users[note.user_id].name }}</div>
                        <div class="body" ng-bind-html="note.body_html"></div>
                      </div>
                      <div class="Description" ng-bind-html="fields.Description.get(ticket)"></div>
                      <div class="hide-note animate-show" ng-show="ticket.notes.length">
                        <a href="" ng-click="showHideNotes(ticket)">&lt; Hide notes</a>
                      </div>
                    </div><!-- note-inner-container -->
                    </div><!-- note-outer-container -->
                  </td>
                <tr>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table><!-- end #ticket-list -->
  </div>
</body>
</html>
